/**
* You can edit this whole file.
*/

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;

}

.navBar {
  background-color: #20d397;
  display: flex;
  font-size: 1rem;
  font-weight: 800;
  display: grid;
  
}

.navBarDentro{
  margin: auto;
  width: 70%;  
  align-items: center;
  color: #fbfbfb;
  font-size: 1rem;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
}
ul li {
  display: inline-block;
  padding : 0px 20px;
}
ul li:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Ajusta el grosor del subrayado */
  text-underline-offset: 8px;
}
ul{
  margin-left: 37rem;
}
a{
  text-decoration: none;
  color: #fbfbfb;
}
.navBarDentro img{
  width: 2rem;
  padding: 0.71%;
}

.titleOurPets {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
}


.columns{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;  
  margin: auto;
}

.columns h2{
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
  
}

.columns p{
  margin-top: 1rem;
  line-height: 1.5rem;
  text-align: left;
  text-size-adjust: 100%;
}

.columns a{
  background-color: #8a2be2;
  color: #dddddd;
  border: 0;
  width: 90%;  
  display: flex;
  align-items: center;
  margin: 1rem; 
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
  
}

.columns img{
  width: 7%;
  margin: 0.60rem;
}

.raza{
  border: 0.5px solid #dddddd; 
  box-sizing: border-box;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, .15);
  width: 90%;
  
}

.textContent{
  color: #000000;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: left;
  margin: 1rem;
}

.boton2 {
  padding-top: 0.98rem;
}
.boton3 {
  padding-top: 0.48rem;
}

@media (max-width: 1280px) {

  ul li:hover {

    text-underline-offset: 7px;
  }
  ul{
    margin-left: 39rem;
  }
  .navBarDentro img{
    width: 1.5rem;
    padding: 0.71%;
  }

  .columns p{
    margin-top: 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
  }
  .columns{
    width: 80%;
  }
  .navBarDentro{
    width: 80%;  
  }
  .titleOurPets {
    width: 80%;
    font-size: 1.25rem;
  }
  .columns h2{
  font-size: 1rem;
  }
}

@media (max-width: 768px){
  ul{
    margin-left: 4rem;
  }
  .columns{
    grid-template-columns: 1fr;
    width: 103%;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 15px;
    
  }
  .navBarDentro img{
    width: 2.5rem;
    padding-left: 3%;
  }
  .navBarDentro{
    width: 100%;
  }
  .raza {
    margin-bottom: 2rem;
  }
  .titleOurPets {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}



